{%- macro output_os(os, path_prefix, link) -%}
  {%- if link -%}<a href="{{ path_prefix }}os/{{ os.short_name|urlencode_strict }}">{%- endif -%}
  {%- if os.has_icon -%}
    <img class="os-icon" src="{{ path_prefix }}static/os-icons/{{ os.short_name|urlencode_strict }}.png" width="32" height="32" title="{{ os.long_name }}" />
  {%- else -%}
    {{ os.long_name }}
  {%- endif -%}
  {%- if link -%}</a>{%- endif -%}
{%- endmacro -%}

{%- macro output_symbol(symbol, path_prefix) -%}
<a class="sym{% if symbol.is_meta_func() %} meta-func{% endif %}" href="{%
  if let Some((dll_name, ordinal)) = symbol.dll_pair()
%}{{ path_prefix }}symbol/dll/{{ dll_name|urlencode_strict }}/ordinal/{{ ordinal }}{%
  else if let Some(raw_name) = symbol.raw_name()
%}{{ path_prefix }}symbol/{{ raw_name|urlencode_strict }}{%
  endif
%}">{{ symbol.friendly_name_or_generate() }}</a>
{%- endmacro -%}
