{% extends "_base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Comparing Symbols between {{ old_os.long_name }} and {{ new_os.long_name }}{% endblock %}

{% block body %}
<h1>Windows APIs</h1>

<h2>Comparing Symbols between {{ old_os.long_name }} and {{ new_os.long_name }}</h2>

<p>{% call macros::output_os(old_os, "../../../", true) %} &rArr; {% call macros::output_os(new_os, "../../../", true) %}</p>

<h3>Added between {{ old_os.long_name }} and {{ new_os.long_name }}</h3>

<ul class="added">
{% for symbol in added_symbols %}
{% call macros::output_symbol(symbol, "../../../") %}
{% endfor %}
</ul>

<h3>Removed between {{ old_os.long_name }} and {{ new_os.long_name }}</h3>

<ul class="removed">
{% for symbol in removed_symbols %}
{% call macros::output_symbol(symbol, "../../../") %}
{% endfor %}
</ul>

{% endblock %}
