{% extends "_base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Symbols in {{ dll.path }}{% endblock %}

{% block body %}
<h1>Windows APIs</h1>

<h2>Symbols in {{ dll.path }}</h2>

{% if dll.secondary_platform %}
<p class="secondary-platform">This is a DLL for a secondary platform supported by its operating systems.</p>
{% endif %}

<ul>
{% for (symbol, oses) in symbols_oses %}
<li>{%- call macros::output_symbol(symbol, "../") -%}
{%- if oses.len() > 0 %}
(
  {%- for os in oses -%}
    {%- if !loop.first -%}{{ ", " }}{%- endif -%}
    {%- call macros::output_os(os, "../", true) -%}
  {%- endfor -%}
)
{%- endif %}</li>
{% endfor %}
</ul>

<h3>Compare Between OSes</h3>

<form action="{{ dll.path|urlencode_strict }}/compare-os" method="get">
<p>
  Compare the change in API surface between
  <select name="old" required="required">
    {% for os in dll_operating_systems %}
    <option value="{{ os.short_name }}">{{ os.long_name }}</option>
    {% endfor %}
  </select>
  and
  <select name="new" required="required">
    {% for os in dll_operating_systems %}
    <option value="{{ os.short_name }}">{{ os.long_name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="compare" />
</p>
</form>

{% endblock %}
