{% extends "_base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ os.long_name }} Symbols in {{ dll.path }}{% endblock %}

{% block body %}
<h1>Windows APIs</h1>

<h2>{{ os.long_name }} Symbols in {{ dll.path }}</h2>

<p>&rArr; {% call macros::output_os(os, "../../../", true) -%}</p>

<p><a href="../../../dll/{{ dll.path|urlencode_strict }}">general DLL page</a></p>

{% if dll.secondary_platform %}
<p class="secondary-platform">This is a DLL for a secondary platform supported by this operating system.</p>
{% endif %}

<ul>
{% for symbol in symbols %}
<li><a href="{%
  if let Some((dll_name, ordinal)) = symbol.dll_pair()
%}../../../dll/{{ dll_name|urlencode_strict }}/ordinal/{{ ordinal }}{%
  else if let Some(raw_name) = symbol.raw_name()
%}../../../symbol/{{ raw_name|urlencode_strict }}{%
  endif
%}">{{ symbol.friendly_name_or_generate() }}</a></li>
{% endfor %}
</ul>

{% endblock %}
