{% extends "_base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ os.long_name }} All Symbols{% endblock %}

{% block body %}
<h1>Windows APIs</h1>

<h2>{{ os.long_name }} All Symbols</h2>

<p>&rArr; {% call macros::output_os(os, "../../../", true) %}</p>

<ul>
{% for symbol in symbols %}
<li{%
  if symbol.dll.secondary_platform
%} class="sec-plat"{%
  endif
%}>{%- call macros::output_symbol(symbol.symbol, "../../../") -%}{%
  if symbol.dll.secondary_platform
%} (secondary platform){%
  endif
%}</li>
{% endfor %}
</ul>

{% endblock %}
