{% extends "_base.html" %}

{% block title %}Windows APIs{% endblock %}

{% block body %}
<h1>Windows APIs</h1>

<h2>By Operating System</h2>

<p>
{%- for os in operating_systems -%}
{%- if !loop.first -%}{{ " &middot; "|safe }}{%- endif -%}
<a href="os/{{ os.short_name|urlencode_strict }}">{{ os.long_name }}</a>
{%- endfor -%}
</p>

<h2>By Function Name</h2>

<p>
{%- for func_start in func_start_chars -%}
{%- if !loop.first -%}{{ " &middot; "|safe }}{%- endif -%}
<a href="funcs/{{ func_start|urlencode_strict }}">{{ func_start }}</a>
{%- endfor -%}
{%- if func_start_chars.len() > 0 -%}{{ " &middot; "|safe }}{%- endif -%}
<a href="funcs/ordinal-only">ordinal-only functions</a>
</p>

<h2>Compare API Surfaces</h2>

<form action="compare-os" method="get">
<p>
  Compare the change in API surface between
  <select name="old" required="required">
    {% for os in operating_systems %}
    <option value="{{ os.short_name }}">{{ os.long_name }}</option>
    {% endfor %}
  </select>
  and
  <select name="new" required="required">
    {% for os in operating_systems %}
    <option value="{{ os.short_name }}">{{ os.long_name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="compare" />
</p>
</form>

{% endblock %}
