{% extends "_base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Symbol {{ symbol.friendly_name_or_generate() }}{% endblock %}

{% block body %}
<h1>Windows APIs</h1>

<h2>Symbol {{ symbol.friendly_name_or_generate() }}</h2>

<p>Available in the following operating systems:</p>

<ul>
{% for (os, dlls) in os_dlls %}
<li>
  {%- call macros::output_os(os, path_to_root, true) %}
  (
    {%- for dll in dlls -%}
      {%- if !loop.first -%}{{ ", " }}{%- endif -%}
      <a class="dll" href="{{ path_to_root }}dll/{{ dll.path|urlencode_strict }}">{{ dll.path }}</a>
    {%- endfor -%}
  )
</li>
{% endfor %}
</ul>

{% endblock %}
